.wrapper{
    width: 500px;
    height: 280px;
    background-color: rgba(169, 73, 186, 0.53);
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 6px 4px 10px rgb(22, 22, 22);
    margin-left: 2.5rem;
}
.text{
    position: absolute;
    font-size: 30px;
    text-align: center;
    color: rgb(207, 57, 174);
    top: 10%;
    left: 33%;
}
.buttons{
    display: flex;
    width: 300px;
    margin: 10px auto;
    justify-content: space-between;
}
.checkboxWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    
}
.password{
    width: 80%;
    height: 50px;
    background-color: rgb(253, 248, 248);
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid rgb(207, 57, 174);
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

.passwordSize{
    font-size: 15px;
}

.settings{
    width: 80%;
    height: 110px;
    background-color: rgb(253, 248, 248);
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid rgb(207, 57, 174);
    padding: 10px 10px;
    box-sizing: border-box;

}


@media (max-width: 762px) {
    .wrapper{
        width: 500px;
        height: 280px;
        background-color: rgba(169, 73, 186, 0.53);
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-content: center;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 6px 4px 10px rgb(22, 22, 22);
        margin-left: 2.5rem;
    }
    .text{
       display: none;
    }

    .password{
        width: 80%;
        height: 50px;
        background-color: rgb(253, 248, 248);
        margin: 0 auto;
        border-radius: 10px;
        border: 2px solid rgb(207, 57, 174);
        padding: 10px 10px;
        box-sizing: border-box;
        font-size: 13px;
        text-align: center;
        font-family: 'Silkscreen', cursive;
    }
}