body {
  margin: 0;
  font-family: 'Silkscreen', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: url('https://sun9-67.userapi.com/impg/q1UMVFPXPykKIfztEQONPOzwDyelc0O40EMBew/O5VQbnqVJ_o.jpg?size=2560x1440&quality=96&sign=f07b88e3cd442e895719fa1134182fcb&type=album');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
