

.wrapper{
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-areas: 
        'leftImage generator'
        
    ;
}

.leftImage{
 background-color: rgb(24, 24, 24);
 grid-area: leftImage;
 display: flex;
 align-items:center;

}

.generator{
    background-color: red;
    grid-area: generator;
    height: 100vh;
    display: flex;
    align-items: center;
}

.imageBlock{
    width: 500px;
    height: 500px;
    font-size: 50px;
    background-color: unset;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
